{% extends "left_mode.html" %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
    <!-- Custom Theme Style -->
{% endblock %}

<body class="nav-md">
{% block right %}
 <h3>密码修改</h3>

<form action="/change_password/" method="post">
<br>
  <div class="form-group">

     <div class="col-md-7">

       <input type="password"  name="old_password" required="required" class="form-control col-md-7 col-xs-12" placeholder="当前密码">
         <span style="color: red;">{{ obj.errors.old_password.0 }}{{ password_error }}</span><br><br>
         <input id="pwd1" type="password" name="new_password" required="required" class="form-control col-md-7 col-xs-12" placeholder="新的密码">
         <span style="color: red;">{{ obj.errors.new_password.0 }}</span><br><br>
         <input id="pwd2" type="password" name="new_password2" onblur="check()" required="required" class="form-control col-md-7 col-xs-12" placeholder="确定密码">

         <span id="warning" style="color: red;"></span>
    <br><br>
     </div><br><br><br><br>
      <div style="height: 100px;width: 50px;"></div>
      <div style="float: right;" class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
						  <input type="submit" id="disable" class="btn btn-primary" value="确定">
     </div>

  </div>
</form>
  </div>


        <script>
function check() {
    if (document.getElementById("pwd1").value != document.getElementById("pwd2").value) {
        document.getElementById("warning").innerHTML = "   两次密码的输入不一致";
        document.getElementById("disable").disabled="disabled"
    } else {
        document.getElementById("warning").innerHTML = "   ";
        document.getElementById("disable").removeAttribute("disabled")
    }
}
    </script>

{% endblock %}

</body>
</html>
