{% extends "left_mode.html" %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
{% endblock %}
  </head>

  <body class="nav-md">

        <!-- /page content -->
{% block right %}
    <div style="float: right;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">添加</button>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
     <div class="modal-dialog modal-lg" role="document">
     <div class="modal-content" style="width: 800px;height: 500px;">
      <div class="col-md-7" style="position: absolute;top: 50px; left: 20px;">
          <select id="add_cron_www_name" class="form-control">
              {% for code_name in code_list %}
              <option value="{{ code_name.www_name }}">{{ code_name.www_name }}</option>
              {% endfor %}
        </select><br>
          <input type="datetime-local" id="add_run_time" name="run_time" class="form-control col-md-7 col-xs-12" ><br><br><br><br><br>
          <input type="button"  id="add_cron" style="position: absolute;right: 1px;" class="btn btn-primary"  value="确定">
        </div>
    </div>

  </div>
</div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg-remove">删除</button>
    <div class="modal fade bs-example-modal-lg-remove" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
     <div class="modal-dialog modal-lg" role="document">
     <div class="modal-content" style="width: 800px;height: 500px;">
       {% for i in  cron_list %}

        <p style="text-align: left;margin:0; "><input  style="vertical-align:middle;width: 40px;height: 20px;" type="checkbox" name="delete_name" value="{{ i.id }}">{{ i.id }} &nbsp;{{ i.www_name_id }}&nbsp; {{ i.run_time }} </p>

    {% endfor %}
     <input type="button"  id="remove_crom_list"  style="position: absolute;right: 100px;top: 80%;" class="btn btn-primary" value="确定">
    </div>

  </div>
</div>

    </div></br>


    <div class="lift_col" role="main">


          <div class="lift_col">
            <div class="page-title">
              <div class="title_left">
                <h3>定时任务</h3>
              </div>

              <div class="title_right">

              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12 table">
                <div class="x_panel">
                  <div class="x_title">

                    <ul class="nav navbar-right panel_toolbox">

                      <li class="dropdown">
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                   <table class="table">
                      <thead>
                        <tr>
                          <th>id</th>
                          <th>项目名</th>
                            <th>执行时间</th>
                            <th>创建时间</th>
                            <th>创建者</th>


                        </tr>
                      </thead>
                      <tbody style="font-size: 15px;">

                         {% for project in cron_list %}
                             <tr>
                             <td>{{ project.id }}</td>
                             <td>{{ project.www_name_id }}</td>
                             <td>{{ project.run_time }}</td>
                             <td>{{ project.create_time }}</td>
                             <td>{{ project.create_username_id }}</td>
                             </tr>
{% endfor %}



                      </tbody>
                    </table>

                  </div>
                </div>
              </div>





              </div>
            </div>
          </div>
<div style="position: absolute;top: 80%;left: 25%;">
<nav aria-label="...">
    <ul class="pagination">
        <li class="disabled"></li>
        {{ pager }}

    </ul>

</nav>
</div>

        {% endblock %}
  </body>
</html>
